@model YappiesTesting.Models.Program

@{
    ViewData["Title"] = "Edit";
}

<div id="body">
    <h1 class="text-center">Edit Program</h1>
    <div class="panel panel-default" style="margin-top: .5vh">
        <div class="panel-heading">
            <h3 class="panel-title">Edit Program</h3>
        </div>
        <form asp-action="Edit">
            <div class="panel-body">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <input type="hidden" asp-for="RowVersion" />
                <div class="form-group">
                    <label asp-for="ProgramName" class="control-label"></label>
                    <input asp-for="ProgramName" class="form-control" />
                    <span asp-validation-for="ProgramName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProgramDescription" class="control-label"></label>
                    <input asp-for="ProgramDescription" class="form-control" />
                    <span asp-validation-for="ProgramDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProgramJoinCode" class="control-label"></label>
                    <input asp-for="ProgramJoinCode" class="form-control" />
                    <span asp-validation-for="ProgramJoinCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProgramSupervisorID" class="control-label"></label>
                    <select asp-for="ProgramSupervisorID" class="form-control" asp-items="ViewBag.ProgramSupervisorID"></select>
                    <span asp-validation-for="ProgramSupervisorID" class="text-danger"></span>
                </div>
            </div>
            <div class="panel-footer">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-action="Details" asp-route-id="@Model.ID" class="btn btn-warning" style="float: right;">Cancel</a>
            </div>
        </form>
    </div>
    <a asp-action="Details" asp-route-id="@Model.ID" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
