@model IEnumerable<YappiesTesting.Models.Program>
@{
    ViewData["Title"] = "Home Page";
}
<script>
   //document.onload = function () {
   //    document.getElementById("logo").innerHTML = "Hello World"
   //}
</script>
<div style="padding:0.5vh;background-color:#e0e0e0">
<div class="container" id="body" style="padding:0; margin:0;">
    <div class="panel panel-default" style="margin: 0px">
        <div class="panel-heading">
            <h3 class="text-center" style="padding:0; margin:0;">Admin Dashboard</h3>
        </div>
        <div style="overflow-y:scroll; max-height:35vh;">

        </div>
    </div>
</div>
<div class="container" style="padding:0px;">
    <div class="panel panel-default" style="margin: 0px">
        <div class="panel-heading">
            <h3 class="panel-title">Programs</h3>
        </div>
        <div style="overflow-y:scroll; max-height:55vh;">
            <ul class="list-group">
                @foreach (var item in Model)
                {
                    <a asp-action="Details" asp-route-id="@item.ID" asp-controller="Programs" style="text-decoration:none; color:black; cursor:auto; margin-top:0px;">
                        <li class="list-group-item">
                            <h4>@Html.DisplayFor(modelItem => item.ProgramName)</h4>
                            <p>@Html.DisplayFor(modelItem => item.ProgramDescription)</p>
                        </li>
                    </a>
                }
            </ul>
        </div>
        <div class="panel-footer">
            <a asp-controller="Programs" asp-action="AdminCreate" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>  Create Program</a>
        </div>
    </div>
</div>
</div>
<div class="messageContainer" style="max-height:20vh;">
    <div class="panel-footer" style="margin:0px 0 0px 0px">
        <h4 class="panel-title">
            <span class="glyphicon glyphicon-list"></span><a asp-area="" asp-controller="Parents" asp-action="Index" style="color:black;"> Parents</a>
        </h4>
    </div>
    <div class="panel-footer">
        <h4 class="panel-title">
            <a asp-controller="" asp-action="" asp-route-id=""><span class="glyphicon glyphicon-wrench"></span>   Settings</a>
        </h4>
    </div>
</div>